body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  color: hsl(210, 29%, 24%);
  margin: 0;
  padding: 0;
}

.overlay {
  z-index: 1;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 16px;
  h1 {
    padding: 0;   
    font-size: smaller;
    z-index: 1;
    color: white;
  }
  code {
    color: grey; 
    text-align: right; 
  }
}

$shadow-size: 20vw;

div#interaction-area {
  overflow: hidden;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: blue;
  touch-action: none;
  .shadow {
    border-radius: 50%;
    position: absolute;
    width: $shadow-size;
    height: $shadow-size;
    transform: translate(-50%, -50%);
    background-color: green;
    font-weight: bold;
    color: white;
  }
}
